{% extends 'magazine_main/layout.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %} {% trans 'Manage Warehouse' %} {% endblock title %}

{% block content %}
<div class="row align-items-center">
    <div class="col">
        <button class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#addItemTypeModal"> <i
                class="fa-solid fa-folder-plus"></i> {% trans 'Add item type' %} </button>
    </div>
    <div class="col">
        <button class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#addItemModal"> <i
                class="fa-solid fa-folder-plus"></i> {% trans 'Add item' %} </button>
    </div>
    <div class="col">
        <button class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#addUserModal"> <i
                class="fa-solid fa-user-plus"></i> {% trans 'Add new user' %} </button>
    </div>
    <div class="col">
        <button class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#borrowItemModal"> <i
                class="fa-solid fa-folder-plus"></i> {% trans 'Borrow item' %} </button>
    </div>
</div>

<div class="row p-3 align-items-center">
    <h4> {% trans 'Item Types' %} </h4>
    <table class="datatable-item-types table table-hover text-center">
        <thead>
            <tr>
                <th scope="col">{% trans "Name" %}</th>
                <th scope="col">{% trans "Amount" %}</th>
                <th scope="col">{% trans "Amount left" %}</th>
                <th scope="col"> </th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<div class="row p-3 align-items-center">
    <h4> {% trans 'Items' %} </h4>
    <table class="datatable-items table table-hover text-center">
        <thead>
            <tr>
                <th scope="col">{% trans "Type" %}</th>
                <th scope="col">{% trans "Name" %}</th>
                <th scope="col">{% trans "Serial number" %}</th>
                <th scope="col"> </th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<div class="row p-3 align-items-center">
    <h4> {% trans 'Users' %} </h4>
    <table class="datatable-users table table-hover text-center">
        <thead>
            <tr>
                <th scope="col">{% trans "Username" %}</th>
                <th scope="col">{% trans "Admin status" %}</th>
                <th scope="col"> </th>
                <th scope="col"> </th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<!-- Modal Add New User -->
<div class="modal fade" id="addUserModal" tabindex="-1" aria-labelledby="addUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addUserModalLabel"> {% trans 'Add new user' %} </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="POST" action="{% url 'magazine_main:manage_warehouse' %}">
                {% csrf_token %}
                <input class="form-control" type="hidden" id="action_add_user" name="action_add_user" value="addUser" />
                <div class="modal-body">
                    <div class="mb-3 row">
                        <label for="username" class="col-sm-2 col-form-label"> {% trans 'Username' %}: </label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" id="username" name="username" required />
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="password" class="col-sm-2 col-form-label"> {% trans 'Password' %}: </label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="password" name="password" required />
                        </div>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="is_admin" name="is_admin">
                        <label class="form-check-label" for="is_admin"> Admin user </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-dark"> {% trans 'Add' %} </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Borrow Item -->
<div class="modal fade" id="borrowItemModal" tabindex="-1" aria-labelledby="borrowItemModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="borrowItemModalLabel"> {% trans 'Borrow item' %} </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="POST" id="borrowItemForm" action="{% url 'magazine_main:manage_warehouse' %}">
                {% csrf_token %}
                <input class="form-control" type="hidden" id="action_borrow_item" name="action_borrow_item"
                    value="borrowItem" />
                <div class="modal-body">
                    <div class="mb-3 row">
                        {{ borrow_item_form|crispy }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-dark"> {% trans 'Add' %} </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Add New Item Type -->
<div class="modal fade" id="addItemTypeModal" tabindex="-1" aria-labelledby="addItemTypeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id=addItemTypeModalLabel"> {% trans 'Add new item type' %} </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="POST" action="{% url 'magazine_main:manage_warehouse' %}">
                {% csrf_token %}
                <input class="form-control" type="hidden" id="action_add_item_type" name="action_add_item_type"
                    value="addItemType" />
                <div class="modal-body">
                    <div class="mb-3 row">
                        {{ add_item_type_form|crispy }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-dark"> {% trans 'Add' %} </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Add New Item -->
<div class="modal fade" id="addItemModal" tabindex="-1" aria-labelledby="addItemModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addItemModalLabel"> {% trans 'Add new item' %} </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="POST" action="{% url 'magazine_main:manage_warehouse' %}">
                {% csrf_token %}
                <input class="form-control" type="hidden" id="action_add_item" name="action_add_item" value="addItem" />
                <div class="modal-body">
                    <div class="mb-3 row">
                        {{ add_item_form|crispy }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-dark"> {% trans 'Add' %} </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Edit Item Type -->
<div class="modal fade" id="editItemTypeModal" tabindex="-1" aria-labelledby="editItemTypeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editItemTypeModalLabel"> {% trans 'Edit item type' %} </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="POST" id="editItemTypeForm" action="">
                {% csrf_token %}
                <input class="form-control" type="hidden" id="action_edit_item_type" name="action_edit_item_type"
                    value="editItemType" />
                <div class="modal-body">
                    <div class="mb-3 row">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-dark"> {% trans 'Edit' %} </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Edit Item -->
<div class="modal fade" id="editItemModal" tabindex="-1" aria-labelledby="editItemModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editItemModalLabel"> {% trans 'Edit item' %} </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="POST" id="editItemForm" action="">
                {% csrf_token %}
                <input class="form-control" type="hidden" id="action_edit_item" name="action_edit_item"
                    value="editItem" />
                <div class="modal-body">
                    <div class="mb-3 row">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-dark"> {% trans 'Edit' %} </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Edit User -->
<div class="modal fade" id="editUserModal" tabindex="-1" aria-labelledby="editUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editUserModalLabel"> {% trans 'Edit item' %} </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="POST" id="editUserForm" action="">
                {% csrf_token %}
                <input class="form-control" type="hidden" id="action_edit_user" name="action_edit_user"
                    value="editUser" />
                <div class="modal-body">
                    <div class="mb-3 row">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-dark"> {% trans 'Edit' %} </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Delete Item -->
<div class="modal fade" id="deleteItemModal" tabindex="-1" aria-labelledby="deleteItemModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteItemModalLabel"> {% trans 'Delete item' %} </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="POST" id="deleteItemForm" action="">
                {% csrf_token %}
                <input class="form-control" type="hidden" id="action_delete_item" name="action_delete_item"
                    value="deleteItem" />
                <div class="modal-body">
                    <div class="m-3 row">
                        {% trans 'Are you sure you want to delete this item?' %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-dark"> {% trans 'Delete' %} </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Delete User -->
<div class="modal fade" id="deleteUserModal" tabindex="-1" aria-labelledby="deleteUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteUserModalLabel"> {% trans 'Delete user' %} </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="POST" id="deleteUserForm" action="">
                {% csrf_token %}
                <input class="form-control" type="hidden" id="action_delete_user" name="action_delete_user"
                    value="deleteUser" />
                <div class="modal-body">
                    <div class="m-3 row">
                        {% trans 'Are you sure you want to delete this user?' %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-dark"> {% trans 'Delete' %} </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Borrowed Items -->
<div class="modal fade" id="borrowedUserModal" tabindex="-1" aria-labelledby="borrowedUserModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="borrowedUserModalLabel"> {% trans 'Borrowed items' %} </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="row p-3 align-items-center">
                <table class="datatable-borrowed-user table table-hover text-center" style="width:100%">
                    <thead>
                        <tr>
                            <th scope="col">{% trans "Name" %}</th>
                            <th scope="col">{% trans "Amount" %}</th>
                            <th scope="col"> </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script>
    $(document).on('click', ".editItemTypeBtn", function (event) {
        var pk = $(this).data('id')
        console.log(pk)
        $.ajax({
            url: "/manage/" + pk + "/get_item_type/",
            error: function (response, error) {
                alert(error);
            }
        }).done(function (response) {
            var modal = $("#editItemTypeModal .modal-body")
            modal.html(response);
            $('#editItemTypeForm').attr('action', "/manage/" + pk + "/edit_item_type/");
        });
    });

    $(document).on('click', ".editItemBtn", function (event) {
        var pk = $(this).data('id')
        console.log(pk)
        $.ajax({
            url: "/manage/" + pk + "/get_item/",
            error: function (response, error) {
                alert(error);
            }
        }).done(function (response) {
            var modal = $("#editItemModal .modal-body")
            modal.html(response);
            $('#editItemForm').attr('action', "/manage/" + pk + "/edit_item/");
        });
    });

    $(document).on('click', ".editUserBtn", function (event) {
        var pk = $(this).data('id')
        console.log(pk)
        $.ajax({
            url: "/manage/" + pk + "/get_user/",
            error: function (response, error) {
                alert(error);
            }
        }).done(function (response) {
            var modal = $("#editUserModal .modal-body")
            modal.html(response);
            $('#editUserForm').attr('action', "/manage/" + pk + "/edit_user/");
        });
    });

    $(document).on('click', ".deleteItemBtn", function (event) {
        var pk = $(this).data('id')
        console.log(pk)
        $.ajax({
            url: "/manage/" + pk + "/get_item/",
            error: function (response, error) {
                alert(error);
            }
        }).done(function (response) {
            $('#deleteItemForm').attr('action', "/manage/" + pk + "/delete_item/");
        });
    });

    $(document).on('click', ".deleteUserBtn", function (event) {
        var pk = $(this).data('id')
        $.ajax({
            url: "/manage/" + pk + "/get_user/",
            error: function (response, error) {
                alert(error);
            }
        }).done(function (response) {
            $('#deleteUserForm').attr('action', "/manage/" + pk + "/delete_user/");
        });
    });

    $(document).ready(function () {
        var dt_item_table = $('.datatable-item-types').dataTable({
            "bFilter": true,
            "aLengthMenu": [[25, 50, 100, 200], [25, 50, 100, 200]],
            "iDisplayLength": 25,
            "order": [[0, "desc"]],
            "processing": true,
            "serverSide": true,
            "ajax": "{% url 'magazine_main:item_types_list' %}"
        });
        var dt_item_table = $('.datatable-items').dataTable({
            "bFilter": true,
            "aLengthMenu": [[25, 50, 100, 200], [25, 50, 100, 200]],
            "iDisplayLength": 25,
            "order": [[0, "desc"]],
            "processing": true,
            "serverSide": true,
            "ajax": "{% url 'magazine_main:items_list' %}"
        });
        var dt_user_table = $('.datatable-users').dataTable({
            "bFilter": true,
            "aLengthMenu": [[25, 50, 100, 200], [25, 50, 100, 200]],
            "iDisplayLength": 25,
            "order": [[0, "desc"]],
            "processing": true,
            "serverSide": true,
            "ajax": "{% url 'magazine_main:users_list' %}"
        });
    });
    $(document).on('click', ".borrowedListBtn", function () {
        var pk = $(this).data('id')
        console.log('pk ', pk)
        $('.datatable-borrowed-user').DataTable().destroy();
        var dt_borrowed_table = $('.datatable-borrowed-user').dataTable({
            "retrieve": true,
            "bFilter": true,
            "aLengthMenu": [[25, 50, 100, 200], [25, 50, 100, 200]],
            "iDisplayLength": 25,
            "order": [[0, "desc"]],
            "serverSide": true,
            "searching": false,
            "ajax": {
                "url": "/manage/borrowed_user_list/" + pk
            }
        });
    });
</script>
{% endblock scripts %}